*{
    margin: 0;
    border: 0;
    padding: 0
}


        /*button*/
.c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
}
.c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
}


.logo {
    max-width: 100%;
    max-height: 100%;
}



.float-l{
    float: left
}

.float-r{
    float: right
}

.m-0-a{
    margin: 0 auto
}
.h2140{
    height: 2140px;
}
.h700{
    height: 700px;
}
.h575{
    height: 575px;
}

.h500{
    height: 500px
}
.h400{
    height: 400px
}

.h200{
     height: 200px;
}
.h150{
    height: 150px;
}

.h60{
    height: 60px;
}
.h40{
    height: 40px;
}

.hp100{
    height: 100%;
}

.hp80{
    height: 80%;
}

.hp70 {
    height: 70%;
}

.hp66{
    height: 66%;
}

.hp50{
    height: 50%;
}
.hp40{
    height: 40%;
}

.hp30{
    height: 30%;
}

.hp25{
    height: 25%
}

.hp20{
    height: 20%
}

.hp15{
    height: 15%
}

.hp10{
    height: 10%
}


.wp100{
    width: 100%
}

.wp80{
    width: 80%;
}


.wp60{
    width: 60%
}

.wp50{
    width: 49.75%
}

.wp40{
    width: 40%;
}

.wp33{
    width: 33.3%
}

.wp30{
    width: 30%
}

.wp20{
    width: 20%
}

.wp10{
    width: 10%;
}

.pdg30{
    padding: 30px
}

.pdg10{
    padding: 10px
}

.text-c{
    text-align: center
}



.bg-aqua{
    background: aqua
}

.bg-pink{
    background: pink
}

.bg-grey{
    background: linear-gradient(to bottom, #E0E0E0, #e9e9ce)
}

.bg-green{
    background: darkgreen
}

.bg-red{
    background: red
}

.bg-orange{
    background: orange
}
.parts{
    background-repeat: no-repeat;
    background-position: center ;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
}
.bor{
    border: 1px solid red;
}
#title1{
    background-repeat: no-repeat;
    background-position: center ;
    position: absolute;
    background-color: rebeccapurple;
    background-image: url(/pics/logo.jpg);
    left: 0;
 }
#builds{
    width: 99.9%;
}
#frame{
    width: 99.7%;
    background-image: url(/pics/frame.png);
}
#fork{
    background-image: url(/pics/fork.png);
}
#cranks{
    background-image: url(/pics/cranks.png);
}
#cassette{
    background-image: url(/pics/cassette.png);
}
#derailleurs_front{
    background-image: url(/pics/derailleurs_front.png);
}
#derailleurs_rear{
    background-image: url(/pics/derailleurs_rear.png);
}
#saddle{
     background-image: url(/pics/saddle.png);
 }
