*{
    margin: 0;
    border: 0;
    padding: 0
}


        /*button*/
.c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
}
.c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
}


.logo {
    max-width: 100%;
    max-height: 100%;
}



.float-l{
    float: left
}

.flaot-r{
    float: right
}

.m-0-a{
    margin: 0 auto
}

.h700{
    height: 700px;
}
.h575{
    height: 575px;
}

.h400{
    height: 400px
}

.h150{
    height: 150px;
}

.h60{
    height: 60px;
}

.hp100{
    height: 100%;
}

.hp80{
    height: 80%;
}

.hp70 {
    height: 70%;
}

.hp66{
    height: 66%;
}

.hp50{
    height: 50%;
}
.hp40{
    height: 40%;
}

.hp30{
    height: 30%;
}

.hp25{
    height: 25%
}

.hp20{
    height: 20%
}

.hp15{
    height: 15%
}

.hp10{
    height: 10%
}
            

.wp100{
    width: 100%
}

.wp80{
    width: 80%;
}


.wp60{
    width: 60%
}

.wp50{
    width: 50%
}

.wp40{
    width: 40%;
}

.wp33{
    width: 33.3%
}

.wp30{
    width: 30%
}

.wp20{
    width: 20%
}

.wp10{
    width: 10%;
}

.pdg30{
    padding: 30px
}

.pdg10{
    padding: 10px
}

.text-c{
    text-align: center
}



.bg-aqua{
    background: aqua
}

.bg-pink{
    background: pink
}

.bg-grey{
    background: linear-gradient(to bottom, #E0E0E0, #e9e9ce)
}

.bg-green{
    background: darkgreen
}

.bg-red{
    background: red
}

.bg-orange{
    background: orange
}
#frame{
    background-image: url(/pics/frame.png);
    background-repeat: no-repeat;
    background-position: center ;
    width: 100%;
}

/*pavlo 06.07.2018  12.23*/

.bor{
    border: 1px solid red;
}
.h2140{
    height: 2140px;
}
.h200{
    height: 200px;
}
.h40{
    height: 40px;
}
